:root {
  --white: white;
  --black: black;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.body {
  background-color: #0c0c0c;
  height: 100%;
  font-family: loos-normal, sans-serif;
  font-weight: 400;
}

.logo-wrapper {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-image: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url('../images/DSC06410-min.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 96px 5%;
  display: flex;
}

.logo {
  width: 200px;
}

.heading {
  color: #fff;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

.button-primary {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #000;
  text-align: center;
  background-color: #2cd9ff;
  border-radius: 10px;
  flex-direction: row;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: background-color .2s;
  display: block;
  box-shadow: inset 1px 1px .25px rgba(255, 255, 255, .12), inset -1px 1px .25px rgba(255, 255, 255, .12), 0 0 0 1px #000, 0 1px 2px rgba(0, 0, 0, .64);
}

.button-primary:hover {
  color: #fff;
  background-color: #006eaa;
  box-shadow: inset 1px 1px .25px rgba(255, 255, 255, .12), inset -1px 1px .25px rgba(255, 255, 255, .12), 0 0 0 1px #000, 0 1px 2px rgba(0, 0, 0, .64);
}

.button-primary.gold {
  background-color: #ffaa2b;
}

.button-primary.gold:hover {
  background-color: #af741d;
}

.testimonial-tab-link-large {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 376px;
  padding: 24px 24px 24px 48px;
  display: flex;
}

.testimonial-tab-link-large.w--current {
  background-color: rgba(0, 0, 0, 0);
}

.icon-medium {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  display: flex;
}

.text-block {
  font-weight: 500;
}

.button-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.button-secondary {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #fff;
  text-align: center;
  background-color: rgba(41, 41, 41, 0);
  border-radius: 10px;
  flex-direction: row;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

.button-secondary:hover {
  color: #2cd9ff;
  background-color: rgba(20, 20, 20, 0);
}

.copy {
  color: rgba(255, 255, 255, .76);
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.title-block {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  display: flex;
}

.sub-copy-flex-box {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.divider {
  color: rgba(255, 255, 255, .76);
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.services-section {
  justify-content: center;
  align-items: center;
  padding: 96px 5%;
  display: block;
}

.container-large {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.package-details-wrapper {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, .14);
  flex-flow: column;
  padding: 56px 0% 48px;
  display: flex;
}

.h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
}

.body-standard {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #fff;
  font-size: 16px;
}

.body-standard.label {
  color: #2cd9ff;
  letter-spacing: 1px;
  padding: 0;
  font-size: 14px;
}

.body-standard.label.contrast {
  color: #000;
}

.body-standard.label.gold {
  color: #ffaa2c;
}

.body-standard.caption {
  color: rgba(255, 255, 255, .56);
  letter-spacing: .5px;
  padding-top: 2px;
  font-size: 12px;
}

.package-contents {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.h4.divider-text.to {
  display: none;
}

.add-on-cost {
  font-weight: 800;
}

.divider-text {
  color: rgba(255, 255, 255, .32);
}

.title-colour {
  color: #2cd9ff;
}

.title-colour.gold {
  color: #ffaa2c;
}

.label-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #2cd9ff;
  border-radius: 8px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-right: auto;
  padding: 4px 8px;
  display: block;
}

.h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
}

._56 {
  color: rgba(255, 255, 255, .56);
}

.price-container, .package-detail-content-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero-content-wrapper {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

._2-stack-button {
  box-sizing: border-box;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .logo {
    width: 32%;
  }

  .heading {
    font-size: 24px;
    line-height: 20px;
  }

  .button-primary {
    display: flex;
  }

  .testimonial-tab-link-large {
    max-width: 310px;
    padding: 12px 12px 12px 24px;
  }

  .button-secondary {
    display: flex;
  }

  .copy {
    font-size: 18px;
    line-height: 20px;
  }

  .title-block {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .divider {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    width: 48%;
  }

  .testimonial-tab-link-large {
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .logo-wrapper {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 56px 5%;
  }

  .logo {
    width: 164px;
  }

  .heading {
    text-align: center;
    font-weight: 500;
    line-height: 24px;
  }

  .button-primary {
    flex-flow: row;
    width: 100%;
    display: flex;
  }

  .testimonial-tab-link-large {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .text-block {
    font-size: 16px;
  }

  .button-block {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .button-secondary {
    display: flex;
  }

  .copy {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
  }

  .title-block {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .sub-copy-flex-box {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .divider {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    display: none;
  }

  .services-section {
    padding: 48px 5%;
  }

  .package-details-wrapper {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .body-standard {
    font-weight: 400;
    line-height: 23px;
  }

  .body-standard.label {
    font-size: 12px;
    line-height: 17px;
  }

  .body-standard.caption {
    line-height: 15px;
  }

  .package-contents {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .h4.divider-text {
    display: none;
  }

  .h4.divider-text.to {
    display: block;
  }

  .h2 {
    font-size: 28px;
    line-height: 26px;
  }

  .price-container {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .package-detail-content-wrapper {
    justify-content: flex-start;
    align-items: center;
  }

  .hero-content-wrapper {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }

  ._2-stack-button {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    width: 100%;
  }
}


